input[type='checkbox'] {
  display: none;
}

input[type='checkbox'] + label {
  width: 60px;
  height: 60px;
  line-height: 50px;
  display: inline-block;
  position: absolute;
  text-align: center;
  font-size: 16px;
  transition: all 1s ease;
}

label {
  text-shadow: 8px 8px 30px rgba(0, 0, 0, 0.5);
}
label:hover {
  color: #c32a2a;
  cursor: pointer;
}

#ck1 + label,
#ck2 + label {
  border-radius: 25px;
  top: 0;
}

#ck1:checked + label,
#ck2:checked + label,
#ck3:checked + label {
  background: #c32a2a;
  font-size: 0;
  transition: all 1s ease;
}

#ck1:checked + label,
#ck2:checked + label {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  line-height: 150px;
}

/* #ck1:checked + label {
  left: 25px;
  top: 25px;
}
#ck2:checked + label {
  right: 25px;
  top: 25px;
} */

#ck1 + label {
  left: 0;
}

#ck2 + label {
  right: 0;
}

#ck3 + label {
  bottom: 0;
  left: 50%;
  margin: 0 -25px;
}
#ck3:checked + label {
  width: 137.5px;
  height: 137.5px;
  bottom: 48px;
  left: 81px;
  transform: rotate(45deg);
  line-height: 13.5px;
}

span {
  display: inline-block;
  text-align: center;
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -100px;
  width: 200px;
  font-size: 24px;
  color: #999;
}
